.single-job-entry {
    margin: 0 auto;
    display: block;
    .jobs-txt-wrap {
        display: inline-block;
        margin: 15px 0;
        padding: 12px;
        border: 2px solid #666;
        border-radius: 4px;
        .job-item {
            display: inline-block;
            margin: 0 4px;
            .resume-link {
                margin: 12px 0;
            }
            .job-item-label {
                color: #666;
                margin-right: 5px;
            }
            input[type=text] {
                color: #333;
                background-color: rgba(145, 148, 156, 0);
                font-size: 17px;
                border: none;
                transition: 0.2s all;
                border-radius: 3px;
                padding: 7px;
                width: 125px;
                display: inline-block;
            }
            input[type=text]:hover {
                background-color: rgba(145, 148, 156, 0.3);
            }
            input[type=file] {
                margin: 12px 0;
                color: #333;
                font-size: 17px;
            }
        }
        .job-entry-btn {
            color: #666;
            margin: 12px 8px;
            font-size: 18px;
            background: none;
            border: 2px solid #666;
            border-radius: 4px;
            transition: 0.3s all;
        }
        .job-entry-btn:hover {
            color: #333;
            border: 2px solid #333;
            cursor: pointer;
        }
    }
}

.jobs-wrap {
    h2 {
        margin: 24px 0 0 0;
    }
    .crud-flag {
        font-size: 19px;
        background-color: white;
        margin: 15px;
        padding: 12px;
    }
    form {
        input {
            margin: 0 8px 10px 8px;
        }
    }
}

