.login-form {
    padding: 25px 0;
    input {
        margin: 12px 0;
        background-color: #fff;
        border-radius: 4px;
        border: 1px solid #666;
        font-size: 23px;
        padding: 7px;
    }
    label {
        display: block;
        font-size: 23px;
        text-align: center;
    }
    button {
        display: inline-block;
        margin: 8px 0;
        font-size: 23px;
        background-color: #eee;
        border: 1px solid #666;
        border-radius: 4px;
        padding: 8px;
        transition: 0.3s all;
    }
    button:hover {
        cursor: pointer;
        background-color: #fff;
    }
    button[disabled] {
        cursor: initial;
        background-color: #eee;
        pointer-events: none;
    }
    .sign-up {
        margin: 20px 0;
        font-size: 18px;
    }
    .other-opt-link {
        margin: 25px 0;
        font-size: 18px;
    }
}

.dashboard-wrap {
    width: 85%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    margin-top: 45px;
    .dash-input-holder {
        border: 1px solid #666;
        display: inline-block;
        padding: 12px;
        width: 35%;
        border-radius: 4px;
        h3 {
            font-size: 26px;
        }
    }
}