@import 'loginform';
@import 'colors';

body {
  background-color: $light-background;
}

h1 a:hover {
  color: #ddd;
}

h2 {
  font-size: 1.8em;
}

a {
  color: $highlight-darker;
  text-decoration: none;
}

a:hover {
  color: $highlight-lighter;
}

.main-wrap {
  text-align: center;
  margin-bottom: 100px;
  background-color: $light-background;
}

header {
  background-color: $header-background;
  height: 100px;
  padding: 20px;
  position: relative;
  a {
    color: white;
  }
}

#app-title {
  font-size: 2em;
  color: #ddd;
}

.error {
  color: red;
  font-style: italic;
  font-size: 20px;
}

.em-sent {
  margin-top: 20px;
  font-size: 18px;
}

.main-nav {
  list-style: none;
  position: absolute;
  bottom: 35px;
  padding: 0;
  li {
    display: inline-block;
    margin-right: 15px;
    a {
      text-decoration: none;
      font-size: 20px;
      transition: 0.3s all;
      color: white;
      background-color: transparent;
      border: none;
      display: inline;
      cursor: pointer;
    }
    a:hover {
      border-bottom: 2px solid $highlight-lighter;
      color: $highlight-lighter;
    }
  }
}

.ui-info {
  font-style: italic;
  color: $highlight-darker;
}

//////////ANIMATIONS//////////////

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
