.login-form {
  padding: 25px 0; }
  .login-form input {
    margin: 12px 0;
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #666;
    font-size: 23px;
    padding: 7px; }
  .login-form label {
    display: block;
    font-size: 23px;
    text-align: center; }
  .login-form button {
    display: inline-block;
    margin: 8px 0;
    font-size: 23px;
    background-color: #eee;
    border: 1px solid #666;
    border-radius: 4px;
    padding: 8px;
    transition: 0.3s all; }
  .login-form button:hover {
    cursor: pointer;
    background-color: #fff; }
  .login-form button[disabled] {
    cursor: initial;
    background-color: #eee;
    pointer-events: none; }
  .login-form .sign-up {
    margin: 20px 0;
    font-size: 18px; }
  .login-form .other-opt-link {
    margin: 25px 0;
    font-size: 18px; }

.dashboard-wrap {
  width: 85%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  margin-top: 45px; }
  .dashboard-wrap .dash-input-holder {
    border: 1px solid #666;
    display: inline-block;
    padding: 12px;
    width: 35%;
    border-radius: 4px; }
    .dashboard-wrap .dash-input-holder h3 {
      font-size: 26px; }

.single-job-entry {
  margin: 0 auto;
  display: block; }
  .single-job-entry .jobs-txt-wrap {
    display: inline-block;
    margin: 15px 0;
    padding: 12px;
    border: 2px solid #666;
    border-radius: 4px; }
    .single-job-entry .jobs-txt-wrap .job-item {
      display: inline-block;
      margin: 0 4px; }
      .single-job-entry .jobs-txt-wrap .job-item .resume-link {
        margin: 12px 0; }
      .single-job-entry .jobs-txt-wrap .job-item .job-item-label {
        color: #666;
        margin-right: 5px; }
      .single-job-entry .jobs-txt-wrap .job-item input[type=text] {
        color: #333;
        background-color: rgba(145, 148, 156, 0);
        font-size: 17px;
        border: none;
        transition: 0.2s all;
        border-radius: 3px;
        padding: 7px;
        width: 125px;
        display: inline-block; }
      .single-job-entry .jobs-txt-wrap .job-item input[type=text]:hover {
        background-color: rgba(145, 148, 156, 0.3); }
      .single-job-entry .jobs-txt-wrap .job-item input[type=file] {
        margin: 12px 0;
        color: #333;
        font-size: 17px; }
    .single-job-entry .jobs-txt-wrap .job-entry-btn {
      color: #666;
      margin: 12px 8px;
      font-size: 18px;
      background: none;
      border: 2px solid #666;
      border-radius: 4px;
      transition: 0.3s all; }
    .single-job-entry .jobs-txt-wrap .job-entry-btn:hover {
      color: #333;
      border: 2px solid #333;
      cursor: pointer; }

.jobs-wrap h2 {
  margin: 24px 0 0 0; }

.jobs-wrap .crud-flag {
  font-size: 19px;
  background-color: white;
  margin: 15px;
  padding: 12px; }

.jobs-wrap form input {
  margin: 0 8px 10px 8px; }

.jobs-wrap .sort-options {
  list-style: none; }
  .jobs-wrap .sort-options li {
    display: inline-block; }

body {
  background-color: #E5F2C5; }

h1 a:hover {
  color: #ddd; }

h2 {
  font-size: 1.8em; }

a {
  color: #0F646F;
  text-decoration: none; }

a:hover {
  color: #31A79B; }

.main-wrap {
  text-align: center;
  margin-bottom: 100px;
  background-color: #E5F2C5; }

header {
  background-color: #0B273D;
  height: 100px;
  padding: 20px;
  position: relative; }
  header a {
    color: white; }

#app-title {
  font-size: 2em;
  color: #ddd; }

.error {
  color: red;
  font-style: italic;
  font-size: 20px; }

.em-sent {
  margin-top: 20px;
  font-size: 18px; }

.main-nav {
  list-style: none;
  position: absolute;
  bottom: 35px;
  padding: 0; }
  .main-nav li {
    display: inline-block;
    margin-right: 15px; }
    .main-nav li a {
      text-decoration: none;
      font-size: 20px;
      transition: 0.3s all;
      color: white;
      background-color: transparent;
      border: none;
      display: inline;
      cursor: pointer; }
    .main-nav li a:hover {
      border-bottom: 2px solid #31A79B;
      color: #31A79B; }

.ui-info {
  font-style: italic;
  color: #0F646F; }

.dummy-link {
  margin: 0 8px; }

.dummy-link:hover {
  cursor: pointer;
  text-decoration: underline; }

.ghost-btn {
  color: #666;
  margin: 12px 8px;
  padding: 7px;
  font-size: 22px;
  background: none;
  border: 2px solid #666;
  border-radius: 4px;
  transition: 0.3s all; }

.ghost-btn:hover {
  color: #333;
  border: 2px solid #333;
  cursor: pointer; }

.selected {
  background-color: rgba(102, 102, 102, 0.2); }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
